#BugReports div.info-block div.segment.mode p.value,
#BugReports div.info-block div.segment.version p.value {
  display: flex;
  align-items: center;
  gap: 5px;
}

#BugReports div.info-block div.segment.mode p.value img,
#BugReports div.info-block div.segment.version p.value img {
  height: 16px;
}
